<div id="team-builder">
	<div id="team-chosen">

	</div>
	<div id="member-input">
		<input type="text" class="input-field" id="name-input" placeholder="Input name here..." />
		<button id="confirm-member">Add to the team</button>
		<button id="confirm-team" class="not-ready">Need 3 more people</button>
	</div>
</div>
