/* FONT */
$path-font : '../../assets/fonts';
$path-icons : '../../assets/icons';
$path-images : '../../assets/images';
$path-font-okomito : '#{$path-font}/Okomito';
$path-font-panton : '#{$path-font}/Panton';
$path-img-sprite : '#{$path-icons}';
$path-img : '#{$path-images}';